.mainInput {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  font-weight: normal;
  font: inherit;
  width: 20%;
  margin: 8px 0;
  box-sizing: border-box;
  padding: 11px 12px;
  border: 3px solid rgb(66, 135, 245);
  background: rgba(7, 38, 88, 0.623);
}
